/* profile header */
#profile-card-section > svg,
#profile-card-section > img {
    /* Fix the height because the retards have it jumping up and down on page load */
    /*height: 201px;*/
    /*shrink the height to make more space*/
    height: 110px;
}

#content-main.lead.desktop {
    margin-top: -120px;
    z-index: 9999;
}

#SNF-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px 0;
}

#SNF-data .copy-btn {
    background-color: #2f7b15;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    min-height: 90px;
    height: 100%;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline;
    border-radius: 5px;
    font-size: 1.4rem;
}

#SNF-data #SNF-femcopy.copy-btn {
    background-color: purple;
}

#SNF-data button.copy-btn:nth-of-type(2) {
    margin-left: 10px;
}

#SNF-data div:nth-of-type(2),
#SNF-data div:nth-of-type(2) div {
    padding-left: 10px;
}

#SNF-data div div:nth-of-type(2) {
    background-color: bisque;
}
#SNF-data div div:nth-of-type(3) {
    background-color: lavender;
}
#SNF-data div div:nth-of-type(4) {
    background-color: aquamarine;
}
#SNF-data div div:last-of-type {
    background-color: beige;
}

#SNF-data div div label {
    /*user-select: none;*/
    display: block;
    margin-right: 15px;
    padding: 6px 0;
}

#SNF-data div div span {
    font-size: 16px;
}

#SNF-data div div > span {
    text-transform: capitalize;
}

.SNF-viewed-non-premium {
    background-image: linear-gradient(135deg, #fff8dc 40%, #00ffff 40%, #00ffff 50%, #fff8dc 50%, #fff8dc 90%, #00ffff 90%, #00ffff 100%);
    background-size: 141px 141px;
}
.SNF-non-premium {
    background-color: aqua !important;
}
.SNF-viewed-premium {
    background-color: cornsilk !important;
}
.SNF-out-of-network {
    background-color: pink !important;
}

#SNF-counter {
    position: fixed;
    top: 270px;
    left: 0;
    line-height: 20px;
    padding: 0 5px;
    background-color: cornsilk;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}
#SNF-counter span:nth-of-type(2) {
    /*padding: 0 11px;*/
}
#countdown {
    padding: 5px 0 5px 10px;
    color: red;
}